body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-image: url("img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation,
 ul {
  list-style: none;
}

.site-navigation a,
.name {
  color: #000000;
}

.features {
  list-style: none;
}

.container {
  text-align: center;
}

.container h2 {
  font-size: 21px;
  line-height: 26px;
}

.visually-hidden {
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}

.advantage-list,
.visually-hidden {
  list-style: none;
 }

.visually-black {
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
}

.visually-white {
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 26px;
  font-weight: lighter;
  text-align: center;
  color: #ffffff;
}

.main-hidden {
  font-family: "PT Sans";
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.location {
  font-family: "PT Sans";
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.loc-details {
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
  text-align: center;
  color: #000000;
}

.additional-benefits{
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 26px;
  font-weight: lighter;
  text-align: center;
  color: #000000;
}

.additional-benefits-bold {
  font-family: "PT Sans";
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  background: white;
}
.header__middle {
  height: 508px;
  background: url(../img/Background_2.jpg);
  background-size: cover;
}
.header_middle-two {
  height: 508px;
  background: url(../img/Background.jpg);
  background-size: cover;
}

.filter-type {
  font-family: "PT Sans";
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.criterion {
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-align: lighter;
  color: #ffffff;
}

.sorting {
  font-family: "PT Sans";
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  text-align: lighter;
  color: #000000;
}

.type-of-allocation,
.price,
.rating {
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-align: lighter;
  color: #000000;
}